%div.navbar.navbar-inverse.navbar-static-top{:role => "navigation"}
  %div.container
    %div.navbar-header
      %button{:type => "button", :class => "navbar-toggle collapsed", "data-toggle" => "collapse", "data-target" => "#sigma-header-links"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %span.navbar-brand Sigma Group
    %div.navbar-collapse.collapse#sigma-header-links
      %ul.nav.navbar-nav
        %li.active
          = link_to 'Innovation', root_path
        %li
          = link_to 'Process Strategy', processstrategy_path
        %li
          = link_to 'Procurement', procurement_path
        %li
          = link_to 'Accounting', accounting_path
        %li
          = link_to 'Supply Chain', supplychain_path
        %li
          = link_to 'Lean Six Sigma', lean_path
